.box-center {
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

header {
	position: relative;
	top: 0;
	left: 0;
	height: 120px;
	width: 100%;
	background-color: #fff;
}
h1{
	padding-top: 10px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	margin: 0;
}
header img{

  width: 80px; height: 80px;
}
nav ul {
	padding-top: 46px;
	display: inline-block;
	float: right;
}
nav ul > li {
	list-style: none;
	display: inline-block;
	padding: 0 50px;
	font-size: 16px
}
nav ul > li > a {
	font-size: 20px;
	color:#17c2a4;
	display: block;
	margin: 0;
}
#banner{
height: 100px;
background-color: #17c2a4;
}
h2{
	color: #fff;
	text-align: center;
	font-size: 40px;
	font-family: cursive;
	padding-top: 10px;
}
#servicios{

	float: left;
	width: 20%;
	height: 500px;
	background-color: #c2f0e8;
}
h3{
	margin: 0;
	font-size: 40px;
	text-align: center;
	color: #273a71;
	padding-top: 10px;
}
#servicios ul{
	padding-top: 20px;
	display: inline-block;
	
}
#servicios ul li a{
	display: block;
color:#273a71 ;
 margin-top: 20px;
padding-left: 15px;
 font-size: 25px;
 
}
#servicios ul li a:hover{
	color: #0000CC ;
	font-size: 28px;
}
#fotos{

	float: right;
	height: 400px;
	margin: auto;
	width: 80%;
}
#fotos img{
	padding-top: 25px;
	padding-right: 45px;
	float: right;
	vertical-align: middle;
	text-align: center;

