.box-center {
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

header {
	position: relative;
	top: 0;
	left: 0;
	height: 120px;
	width: 100%;
	background-color: #fff;
}
h1{
	padding-top: 10px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	margin: 0;
}
header img{

  width: 80px; height: 80px;
}
nav ul {
	padding-top: 46px;
	display: inline-block;
	float: right;
}
nav ul > li {
	list-style: none;
	display: inline-block;
	padding: 0 50px;
	font-size: 16px
}
nav ul > li > a {
	font-size: 20px;
	color:#17c2a4;
	display: block;
	margin: 0;
}
#banner{
height: 100px;
background-color: #17c2a4;
}
h2{
	color: #fff;
	text-align: center;
	font-size: 40px;
	font-family: cursive;
	padding-top: 10px;
}
